HoraAtualTypeScript/node_modules
HoraAtualTypeScript/app
ByteTranslator/node_modules
ByteTranslator/app
Contacts/node_modules
Contacts/app
NewAngular/rotasGuardsSample/node_modules
NewAngular/rotasGuardsSample2/node_modules
