<p-accordion>
    <p-accordionTab header="Curso" [selected]="true">
       <p-dataList [value]="listaCurso" >
          <ng-template let-curso pTemplate="item">
          {{curso.nome}}
          </ng-template>
       </p-dataList>
    </p-accordionTab>

    <p-accordionTab header="Aluno" [selected]="true">
       <p-dataList [value]="listaAluno" >
          <ng-template let-aluno pTemplate="item">
          {{aluno.nome}}
          {{aluno.curso}}
          </ng-template>
       </p-dataList>
    </p-accordionTab>

    <p-accordionTab header="Disciplina" [selected]="true">
       <p-dataList [value]="listaDisciplina" >
          <ng-template let-disciplina pTemplate="item">
          {{disciplina.nome}}
          </ng-template>
       </p-dataList>
    </p-accordionTab>
</p-accordion>
